<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Phalanx</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/component/component.css">
</head>
<body>
  <div>
    
    <embed src="http://static.video.qq.com/TPout.swf?vid=t0146brycy6&auto=0" allowFullScreen="true" quality="high" width="880" height="700" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
  </div>
  <time id="time"></time>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea abp">
        <div class="messages container" id="messages-stage"></div>
        <div id="control-resize-lr" class="button" style="float:none;position:absolute;right:0;">
          ↔ 
        </div>
        <div id="control-resize-tb" class="button" style="float:none;position:absolute;left:0;">
          ↕ 
        </div>
      </div>
      <div class="input-wrap">
        <input class="inputMessage" placeholder="Type here..."/>
      </div>
    </li>
    <li class="login page">
      <div class="form">
        <div class="p-line clearfix">
          <h3 class="title">昵称:</h3>
          <input class="usernameInput" type="text" maxlength="14" />
        </div>
        <div class="p-line">
          <input class="submit" type="submit" value="登入">
      </div>
    </li>
  </ul>

  <script src="/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/CommentCoreLibrary.js"></script>
  <script src="/component/component.js"></script>
</body>
</html>
